@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); /* Importing Google Fonts */

*{
  margin: 0; /* Resetting margin */
  padding: 0; /* Resetting padding */
  box-sizing: border-box; /* Box model */
  font-family: 'Poppins',sans-serif; /* Setting default font */
}

::selection{
  color: #000; /* Text color for selected/highlighted text */
  background: #fff; /* Background color for selected/highlighted text */
}

nav{
  position: fixed; /* Fixing navigation bar */
  background: #1b1b1b; /* Background color */
  width: 100%; /* Full width */
  padding: 10px 0; /* Padding */
  z-index: 12; /* Stack order */
}

nav .menu{
  max-width: 1250px; /* Maximum width of menu */
  margin: auto; /* Centering horizontally */
  display: flex; /* Flex layout */
  align-items: center; /* Vertical alignment */
  justify-content: space-between; /* Spacing between elements */
  padding: 0 20px; /* Padding */
}

.menu .logo a{
  text-decoration: none; /* Removing underline */
  color: #fff; /* Text color */
  font-size: 35px; /* Font size */
  font-weight: 600; /* Font weight */
}

.menu ul{
  display: inline-flex; /* Flex layout */
}

.menu ul li{
  list-style: none; /* Removing default list style */
  margin-left: 7px; /* Margin between list items */
}

.menu ul li:first-child{
  margin-left: 0px; /* Removing margin for first list item */
}

.menu ul li a{
  text-decoration: none; /* Removing underline */
  color: #fff; /* Text color */
  font-size: 18px; /* Font size */
  font-weight: 500; /* Font weight */
  padding: 8px 15px; /* Padding */
  border-radius: 5px; /* Border radius */
  transition: all 0.3s ease; /* Transition effect */
}

.menu ul li a:hover{
  background: #fff; /* Background color on hover */
  color: black; /* Text color on hover */
}

.img{
  background: url('img3.jpg')no-repeat; /* Background image */
  width: 100%; /* Full width */
  height: 100vh; /* Full viewport height */
  background-size: cover; /* Background size */
  background-position: center; /* Background position */
  position: relative; /* Relative positioning */
}

.img::before{
  content: ''; /* Empty content */
  position: absolute; /* Absolute positioning */
  height: 100%; /* Full height */
  width: 100%; /* Full width */
  background: rgba(0, 0, 0, 0.4); /* Background color with opacity */
}

.center{
  position: absolute; /* Absolute positioning */
  top: 52%; /* Centering vertically */
  left: 50%; /* Centering horizontally */
  transform: translate(-50%, -50%); /* Centering */
  width: 100%; /* Full width */
  padding: 0 20px; /* Padding */
  text-align: center; /* Text alignment */
}

.center .title{
  color: #fff; /* Text color */
  font-size: 55px; /* Font size */
  font-weight: 600; /* Font weight */
}

.center .sub_title{
  color: #fff; /* Text color */
  font-size: 52px; /* Font size */
  font-weight: 600; /* Font weight */
}

.center .text{
  color: #fff; /* Text color */
  font-size: 40px; /* Font size */
  font-weight: 300; /* Font weight */
}

.center .btns{
  margin-top: 20px; /* Margin top */
}

.center .btns button{
  height: 55px; /* Button height */
  width: 170px; /* Button width */
  border-radius: 5px; /* Border radius */
  border: none; /* Removing border */
  margin: 0 10px; /* Margin */
  border: 2px solid white; /* Border */
  font-size: 20px; /* Font size */
  font-weight: 500; /* Font weight */
  padding: 0 10px; /* Padding */
  cursor: pointer; /* Cursor style */
  outline: none; /* Removing outline */
  transition: all 0.3s ease; /* Transition effect */
}

.center .btns button:first-child{
  color: #fff; /* Text color */
  background: none; /* Transparent background */
}

.btns button:first-child:hover{
  background: white; /* Background color on hover */
  color: black; /* Text color on hover */
}

.center .btns button:last-child{
  background: white; /* Background color */
  color: black; /* Text color */
}
